# Project exclude paths
/.gradle/
/Phone Book/task/build/
/Phone Book/task/out/
/Phone Book/task/out/production/classes/
/Problems/The angle between vectors/out/
/Problems/The angle between vectors/out/production/classes/